* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.padding {
    padding: 5px 10px 0 10px;
}

.screen {
    height: 100px;
}

.screen input {
    width: 100%;
    height: 100%;
    border: 0;
    background: transparent;
    text-align: right;
}

#history {
    display: flex;
    font-size: 1.1rem;
    padding: 0 10px;
    justify-content: end;
}

#main {
    display: flex;
    font-size: 2rem;
    color: #000;
    font-weight: 600;
    padding: 0 10px;
    justify-content: end;

}

.history-screen {
    height: 30%;
}

.main-screen {
    padding-top:20px ;
    height: 70%;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    line-height: 2rem;
}

.header {
    flex-grow: 1;
    cursor: default;
    font-size: 0.8rem;
    padding-left: 15px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    width: 300px;
    border: 1px solid #000000;
    box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.2);
    background: #f7f7f7;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button {
    width: 25%;
    line-height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-menu .button {
    line-height: 3rem;
}

.number {
    font-weight: 900;
    font-size: 1.5rem;
}

.button:hover {
    background: #cfcfcf;
    cursor: pointer;
}

.equal:hover {
    background: #1883d7;
}

#clear-element:hover {
    background: #cf2020;
}

.top .icon {
    width: 16px;
    height: 16px;
}

.icon {
    width: 25px;
    height: 25px;
}

.history {
    flex-grow: 6;
    justify-content: flex-end;
}

.dot {
    font-weight: 900;
    font-size: 1.5rem;
}

.exception {
    margin: 15px;
}

.disable:hover {
    background-color: rgba(239, 239, 239);
    cursor: auto;
}

button {
    border: none;
}
